Repository ritscc/soukai-2021-1, changes with the labels that .github/labeler.yml gives for each.
All labels: 方針, 総括, 全体, システム管理局, 渉外局, 研究推進局, 総務局

.github/labeler.yml:

方針:
  - any: ["src/houshin/**/*.tex"]
総括:
  - any: ["src/soukatsu/**/*.tex"]
全体:
  - any: ["src/**/zentai/*.tex"]
回生:
  - any: ["src/**/[1-4]kai.tex"]
システム管理局:
  - any: ["src/**/system/*.tex"]
渉外局:
  - any: ["src/**/syogai/*.tex"]
研究推進局:
  - any: ["src/**/kensui/*.tex"]
総務局:
  - any: ["src/**/soumu/*.tex"]

立家総括を書いた
  src/soukatsu/zentai/06_ritumeihouse.tex
Labels: 総括, 全体

unagiを参照して修正
  src/soukatsu/zentai/06_ritumeihouse.tex
Labels: 総括, 全体

数え上げを書き直し
  src/soukatsu/zentai/06_ritumeihouse.tex
Labels: 総括, 全体

Fix:#39/会計局財務方針を執筆
  src/houshin/kaikei/02_zaimu.tex
Labels: 方針

Fix:#39/表記を修正
  src/houshin/kaikei/02_zaimu.tex
Labels: 方針

Fix:#40/会計局財政方針を執筆
  src/houshin/kaikei/03_zaisei.tex
Labels: 方針

全体総括_Welcomeゼミ総括を執筆
  src/soukatsu/zentai/04_welcom.tex
Labels: 総括, 全体

unagiに怒られた点を修正　句読点や回生
  src/soukatsu/zentai/04_welcom.tex
Labels: 総括, 全体

unagiに怒られた点で忘れていたところ修正　語彙関連
  src/soukatsu/zentai/04_welcom.tex
Labels: 総括, 全体

システム管理局引き継ぎ方針を執筆
  src/soukatsu/system/05_hikitsugi.tex
Labels: 総括, システム管理局

unagiに怒られた箇所の修正
  src/soukatsu/system/05_hikitsugi.tex
Labels: 総括, システム管理局

前期活動総括を執筆
  src/soukatsu/zentai/01_zentai.tex
Labels: 総括, 全体

システム管理局引き継ぎ方針を執筆
  src/houshin/system/05_hikitsugi.tex
Labels: 方針, システム管理局

GitHubと末尾改行修正
  src/houshin/system/05_hikitsugi.tex
Labels: 方針, システム管理局

前期活動総括を修正
  src/soukatsu/zentai/01_zentai.tex
Labels: 総括, 全体

前期活動総括を修正
  src/soukatsu/zentai/01_zentai.tex
Labels: 総括, 全体

subsectionの書き方修正と４４行の改行
  src/houshin/kensui/02_project.tex
Labels: 方針, 研究推進局

Update src/soukatsu/kensui/01_zentai.tex
  src/soukatsu/kensui/01_zentai.tex
Labels: 総括, 研究推進局

Update src/soukatsu/kensui/01_zentai.tex
  src/soukatsu/kensui/01_zentai.tex
Labels: 総括, 研究推進局

行う→行った
  src/houshin/kensui/03_LT.tex
Labels: 方針, 研究推進局

システム管理局新局員方針を執筆
  src/houshin/system/06_shinkyokuin.tex
Labels: 方針, システム管理局

秋学期活動方針を修正
  src/houshin/zentai/01_zentai.tex
Labels: 方針, 全体

秋学期活動方針を執筆
  src/houshin/zentai/01_zentai.tex
Labels: 方針, 全体

LT総括を執筆
  src/soukatsu/kensui/03_LT.tex
Labels: 総括, 研究推進局

LT総括を修正
  src/soukatsu/kensui/03_LT.tex
Labels: 総括, 研究推進局

作成
  src/soukatsu/kensui/04_hackathon.tex
Labels: 総括, 研究推進局

回生の表現修正
  src/soukatsu/kensui/04_hackathon.tex
Labels: 総括, 研究推進局

作成
  src/houshin/kensui/04_hackathon.tex
Labels: 方針, 研究推進局

渉外局全体総括を執筆
  src/soukatsu/syogai/01_zentai.tex
Labels: 総括, 渉外局

Delete 2kai.tex
  src/soukatsu/2kai.tex
Labels: 総括

渉外局全体方針を執筆
  src/houshin/syogai/01_zentai.tex
Labels: 方針, 渉外局

Update 01_zentai.tex
  src/houshin/syogai/01_zentai.tex
Labels: 方針, 渉外局

渉外局全体総括
  src/soukatsu/syogai/01_zentai.tex
Labels: 総括, 渉外局

渉外局全体総括
  src/soukatsu/syogai/01_zentai.tex
Labels: 総括, 渉外局

渉外局全体総括
  src/soukatsu/syogai/01_zentai.tex
Labels: 総括, 渉外局

Update 01_zentai.tex
  src/soukatsu/syogai/01_zentai.tex
Labels: 総括, 渉外局

渉外局Webサイト方針
  src/houshin/syogai/04_web.tex
Labels: 方針, 渉外局

Update 04_web.tex
  src/houshin/syogai/04_web.tex
Labels: 方針, 渉外局

渉外局Webサイト総括を執筆
  src/soukatsu/syogai/04_web.tex
Labels: 総括, 渉外局

渉外局Webサイト総括を執筆
  src/soukatsu/syogai/04_web.tex
Labels: 総括, 渉外局
