Repository ritscc/soukai-2021-1, changes with the labels that .github/labeler.yml gives for each.
All labels: 方針, 総括, 全体, システム管理局, 渉外局, 研究推進局, 総務局

.github/labeler.yml:

方針:
  - any: ["src/houshin/**/*.tex"]
総括:
  - any: ["src/soukatsu/**/*.tex"]
全体:
  - any: ["src/**/zentai/*.tex"]
回生:
  - any: ["src/**/[1-4]kai.tex"]
システム管理局:
  - any: ["src/**/system/*.tex"]
渉外局:
  - any: ["src/**/syogai/*.tex"]
研究推進局:
  - any: ["src/**/kensui/*.tex"]
総務局:
  - any: ["src/**/soumu/*.tex"]

Fixes #14 研究推進局プロジェクト活動総括を執筆 (#75)
  src/soukatsu/kensui/01_zentai.tex
Labels: 総括, 研究推進局

Fix:#38/会計局全体方針を執筆 (#77)
  src/houshin/kaikei/01_zentai.tex
Labels: 方針

Revert "Fixes #14 研究推進局プロジェクト活動総括を執筆 (#75)"
  src/soukatsu/kensui/01_zentai.tex
Labels: 総括, 研究推進局

system/kyokukaigi (#78)
  src/houshin/system/02_kyokukaigi.tex
Labels: 方針, システム管理局

soukatu/system/kyokukaigi (#79)
  src/soukatsu/system/02_kyokukaigi.tex
Labels: 総括, システム管理局

houshin/1kai (#80)
  src/houshin/1kai.tex
Labels: 方針

立家総括 (#81)
  src/soukatsu/zentai/06_ritumeihouse.tex
Labels: 総括, 全体

Fix:#39/会計局財務方針を執筆 (#82)
  src/houshin/kaikei/02_zaimu.tex
Labels: 方針

Fix:#40/会計局財政方針を執筆 (#83)
  src/houshin/kaikei/03_zaisei.tex
Labels: 方針

全体総括_Welcomeゼミ総括を執筆 (#84)
  src/soukatsu/zentai/04_welcom.tex
Labels: 総括, 全体

システム管理局引き継ぎ方針を執筆 (#85)
  src/soukatsu/system/05_hikitsugi.tex
Labels: 総括, システム管理局

システム管理局引き継ぎ方針を執筆 (#86)
  src/houshin/system/05_hikitsugi.tex
Labels: 方針, システム管理局

Revert "Merge branch 'develop' into ygkn/issue14"
  src/houshin/2kai.tex
  src/houshin/kensui/01_zentai.tex
  src/houshin/kensui/02_project.tex
  src/houshin/kensui/03_LT.tex
  src/houshin/system/04_server.tex
  src/soukatsu/2kai.tex
  src/soukatsu/kensui/01_zentai.tex
  src/soukatsu/soumu/01_zentai.tex
  src/soukatsu/soumu/02_huki.tex
  src/soukatsu/soumu/03_souzi.tex
  src/soukatsu/system/04_server.tex
Labels: 方針, 総括, システム管理局, 研究推進局, 総務局

Fix #1 : 前期活動総括を執筆 (#87)
  src/soukatsu/zentai/01_zentai.tex
Labels: 総括, 全体

Fix #32 : 秋学期方針を執筆 (#88)
  src/houshin/zentai/01_zentai.tex
Labels: 方針, 全体

システム管理局新局員方針を執筆 (#89)
  src/houshin/system/06_shinkyokuin.tex
Labels: 方針, システム管理局

Fix #15 : LT総括を執筆 (#90)
  src/soukatsu/kensui/03_LT.tex
Labels: 総括, 研究推進局

作成 (#91)
  src/soukatsu/kensui/04_hackathon.tex
Labels: 総括, 研究推進局

作成 (#93)
  src/houshin/kensui/04_hackathon.tex
Labels: 方針, 研究推進局

渉外局全体方針を執筆 (#95)
  src/houshin/syogai/01_zentai.tex
Labels: 方針, 渉外局

渉外局全体総括 (#96)
  src/soukatsu/syogai/01_zentai.tex
Labels: 総括, 渉外局

渉外局Webサイト方針 (#97)
  src/houshin/syogai/04_web.tex
Labels: 方針, 渉外局

Reopen #23 シス管勉強会総括を執筆 (#99)
  src/soukatsu/system/03_study.tex
Labels: 総括, システム管理局

Reopen #51 シス管勉強会方針を執筆 (#101)
  src/houshin/system/03_study.tex
Labels: 方針, システム管理局

Reopen #10 3回生総括を執筆 (#102)
  src/soukatsu/3kai.tex
Labels: 総括

Reopen #37 3回生方針を執筆 (#103)
  src/houshin/3kai.tex
Labels: 方針

[docs] 渉外局の局会議総括を執筆 (#104)
  src/soukatsu/syogai/02_kyokukaigi.tex
Labels: 総括, 渉外局

[docs] 渉外局の局会議方針を執筆 (#105)
  src/houshin/syogai/02_kyokukaigi.tex
Labels: 方針, 渉外局

OBOG会総括を執筆 (#106)
  src/soukatsu/zentai/07_obog.tex
Labels: 総括, 全体

Fix #46 渉外局Twitter方針を執筆 (#108)
  src/houshin/syogai/03_twitter.tex
Labels: 方針, 渉外局

Fix #55 : 総務局全体方針を執筆 (#110)
  src/houshin/soumu/01_zentai.tex
Labels: 方針, 総務局

Twitter総括を執筆 (#112)
  src/soukatsu/syogai/03_twitter.tex
Labels: 総括, 渉外局

総務局風紀方針を執筆 (#113)
  src/houshin/soumu/02_huki.tex
Labels: 方針, 総務局

1回生総括を記述 (#114)
  src/soukatsu/1kai.tex
Labels: 総括

Fix #57 : 総務局掃除方針を執筆 代理 (#115)
  src/houshin/soumu/03_souzi.tex
Labels: 方針, 総務局

総務局書記方針を執筆 代理 (#116)
  src/houshin/soumu/04_syoki.tex
Labels: 方針, 総務局

総務局会内行事方針を執筆 代理 (#118)
  src/houshin/soumu/05_kainaigyozi.tex
Labels: 方針, 総務局

総務局備品業務方針を執筆 (#119)
  src/houshin/soumu/06_bihin.tex
Labels: 方針, 総務局

シス管全体総括を執筆 (#120)
  src/soukatsu/system/01_zentai.tex
Labels: 総括, システム管理局

シス管全体方針を記述 (#122)
  src/houshin/system/01_zentai.tex
Labels: 方針, システム管理局
