Repository ritscc/soukai-2021-1, changes with the labels that .github/labeler.yml gives for each.
All labels: 方針, 総括, 全体, システム管理局, 渉外局, 研究推進局, 総務局

.github/labeler.yml:

方針:
  - any: ["src/houshin/**/*.tex"]
総括:
  - any: ["src/soukatsu/**/*.tex"]
全体:
  - any: ["src/**/zentai/*.tex"]
回生:
  - any: ["src/**/[1-4]kai.tex"]
システム管理局:
  - any: ["src/**/system/*.tex"]
渉外局:
  - any: ["src/**/syogai/*.tex"]
研究推進局:
  - any: ["src/**/kensui/*.tex"]
総務局:
  - any: ["src/**/soumu/*.tex"]

feat: setup.pyを回した
  README.md
  assignee.yml
  document.tex
  src/houshin/4kai.tex
  src/kouki.tex
Labels: 方針

feat: assignee.ymlを記述
  assignee.yml
Labels: none

fix: 一部会員のGitHubIDを修正
  assignee.yml
Labels: none

PR test
  src/soukatsu/1kai.tex
Labels: 総括

chmod entrypoint
  .github/actions/latex/entrypoint.sh
Labels: none

PR test
  src/soukatsu/1kai.tex
Labels: 総括

サーバ方針#52
  src/houshin/system/04_server.tex
Labels: 方針, システム管理局

サーバ総括#24
  src/soukatsu/system/04_server.tex
Labels: 総括, システム管理局

サーバ総括　など　修正#24
  src/soukatsu/system/04_server.tex
Labels: 総括, システム管理局

サーバ総括 など 修正#52
  src/houshin/system/04_server.tex
Labels: 方針, システム管理局

サーバ総括　改行　修正#24
  src/soukatsu/system/04_server.tex
Labels: 総括, システム管理局

Reopen #41: 作成
  src/houshin/kensui/01_zentai.tex
Labels: 方針, 研究推進局

Reopen #42: 作成
  src/houshin/kensui/02_project.tex
Labels: 方針, 研究推進局

Reopen #43: 作成
  src/houshin/kensui/03_LT.tex
Labels: 方針, 研究推進局

「ので」を修正
  src/houshin/kensui/03_LT.tex
Labels: 方針, 研究推進局

改行文字で終了
  src/houshin/kensui/02_project.tex
Labels: 方針, 研究推進局

2回生総括を変更
  src/soukatsu/2kai.tex
Labels: 総括

Update 2kai.tex
  src/soukatsu/2kai.tex
Labels: 総括

Fix: #36/2回生方針を執筆
  src/houshin/2kai.tex
Labels: 方針

Fix: #36/2回生方針を修正
  src/houshin/2kai.tex
Labels: 方針

Fix: #36/2回生方針を修正
  src/houshin/2kai.tex
Labels: 方針

Fix: #36/Unicode Errorの修正
  src/houshin/2kai.tex
Labels: 方針

Reopen #26
  src/soukatsu/soumu/01_zentai.tex
Labels: 総括, 総務局

#28書いたぁ
  src/soukatsu/soumu/03_souzi.tex
Labels: 総括, 総務局

%消してなかったぁ
  src/soukatsu/soumu/01_zentai.tex
Labels: 総括, 総務局

書き直し
  src/soukatsu/soumu/02_huki.tex
Labels: 総括, 総務局

こっちもブランチミスってたので直した
  src/soukatsu/soumu/03_souzi.tex
Labels: 総括, 総務局

研究推進局全体総括を記述
  src/soukatsu/kensui/01_zentai.tex
Labels: 総括, 研究推進局

研究推進局プロジェクト活動総括を執筆
  src/soukatsu/kensui/01_zentai.tex
Labels: 総括, 研究推進局

subsubsectionを立てた
  src/soukatsu/zentai/06_ritumeihouse.tex
Labels: 総括, 全体

Fix: #11/財務総括を執筆
  src/soukatsu/kaikei/01_zaimu.tex
Labels: 総括

system/kyokukaigi
  src/houshin/system/02_kyokukaigi.tex
Labels: 方針, システム管理局

Fix: #11/表現を修正
  src/soukatsu/kaikei/01_zaimu.tex
Labels: 総括

Fix:#38/会計局全体方針を執筆
  src/houshin/kaikei/01_zentai.tex
Labels: 方針

Add
  src/soukatsu/system/.zshrc
  src/soukatsu/system/02_kyokukaigi.tex
Labels: 総括, システム管理局

add
  src/houshin/1kai.tex
Labels: 方針

不要なファイルの消去
  src/soukatsu/system/.zshrc
Labels: none

改行を消去
  src/soukatsu/system/02_kyokukaigi.tex
Labels: 総括, システム管理局

変更
  src/soukatsu/system/02_kyokukaigi.tex
Labels: 総括, システム管理局

Add
  src/houshin/1kai.tex
Labels: 方針
