Repository ritscc/soukai-2021-1, changes with the labels that .github/labeler.yml gives for each.
All labels: 方針, 総括, 全体, システム管理局, 渉外局, 研究推進局, 総務局

.github/labeler.yml:

方針:
  - any: ["src/houshin/**/*.tex"]
総括:
  - any: ["src/soukatsu/**/*.tex"]
全体:
  - any: ["src/**/zentai/*.tex"]
回生:
  - any: ["src/**/[1-4]kai.tex"]
システム管理局:
  - any: ["src/**/system/*.tex"]
渉外局:
  - any: ["src/**/syogai/*.tex"]
研究推進局:
  - any: ["src/**/kensui/*.tex"]
総務局:
  - any: ["src/**/soumu/*.tex"]

Update 1kai.tex
  src/houshin/1kai.tex
Labels: 方針

「今期」→「2021年度に」
  src/soukatsu/kensui/04_hackathon.tex
Labels: 総括, 研究推進局

「」と~の修正
  src/houshin/kensui/04_hackathon.tex
Labels: 方針, 研究推進局

Fix:#129/会費徴収に関する特別議案を執筆した
  src/tokugi/02_kaihi.tex
Labels: none

ずつを追加
  src/houshin/kensui/04_hackathon.tex
Labels: 方針, 研究推進局

Fix:#129/改行文字を追加した
  src/tokugi/02_kaihi.tex
Labels: none

12_reveiw部分を修正2_会費徴収してないので会員数を消しました
  src/soukatsu/kaikei/02_zaisei.tex
Labels: 総括

告知できず
  src/soukatsu/kensui/04_hackathon.tex
Labels: 総括, 研究推進局

会計徴収に関する特別議案に表記を合わせた
  src/tokugi/01_kiyaku.tex
Labels: none

コードフリーズの言及
  src/houshin/kensui/04_hackathon.tex
Labels: 方針, 研究推進局

文言修正
  src/houshin/zentai/02_unei.tex
Labels: 方針, 全体

修正
  src/soukatsu/zentai/02_unei.tex
Labels: 総括, 全体

レビューの指摘点を修正
  src/soukatsu/system/01_zentai.tex
Labels: 総括, システム管理局

会員→局員
  src/soukatsu/system/01_zentai.tex
Labels: 総括, システム管理局

追記
  src/houshin/system/01_zentai.tex
Labels: 方針, システム管理局

特別議案に関する項目を追加
  src/zenki.tex
Labels: none

タイポ直し
  src/houshin/kensui/02_project.tex
Labels: 方針, 研究推進局

Update src/soukatsu/system/02_kyokukaigi.tex
  src/soukatsu/system/02_kyokukaigi.tex
Labels: 総括, システム管理局

Update src/houshin/system/02_kyokukaigi.tex
  src/houshin/system/02_kyokukaigi.tex
Labels: 方針, システム管理局

Update src/houshin/1kai.tex
  src/houshin/1kai.tex
Labels: 方針

作成
  src/soukatsu/zentai/05_project.tex
Labels: 総括, 全体

改行
  src/soukatsu/zentai/05_project.tex
Labels: 総括, 全体

作成
  src/houshin/zentai/03_project.tex
Labels: 方針, 全体

「~」修正
  src/soukatsu/zentai/05_project.tex
Labels: 総括, 全体

Fix:#129/数字の表現を修正
  src/tokugi/02_kaihi.tex
Labels: none

全体新歓総括を執筆
  src/soukatsu/zentai/03_shinkan.tex
Labels: 総括, 全体

ほとんど無かったに変更
  src/soukatsu/zentai/05_project.tex
Labels: 総括, 全体

FIx:#11/表記を統一した
  src/soukatsu/kaikei/01_zaimu.tex
Labels: 総括

サーバ方針#52 (#63)
  src/houshin/system/04_server.tex
Labels: 方針, システム管理局

サーバ総括#24 (#64)
  src/soukatsu/system/04_server.tex
Labels: 総括, システム管理局

Reopen #41: 作成 (#65)
  src/houshin/kensui/01_zentai.tex
Labels: 方針, 研究推進局

Fix #42: 作成 (#66)
  src/houshin/kensui/02_project.tex
Labels: 方針, 研究推進局

Fix #43: 作成 (#67)
  src/houshin/kensui/03_LT.tex
Labels: 方針, 研究推進局

2回生総括を変更 (#68)
  src/soukatsu/2kai.tex
Labels: 総括

Fix: #36/2回生方針を執筆 (#69)
  src/houshin/2kai.tex
Labels: 方針

Fix #26 : 総務総括書いたぁ (#70)
  src/soukatsu/soumu/01_zentai.tex
Labels: 総括, 総務局

書き直し (#72)
  src/soukatsu/soumu/02_huki.tex
Labels: 総括, 総務局

Fix #28 : ブランチミスってたので直した (#73)
  src/soukatsu/soumu/03_souzi.tex
Labels: 総括, 総務局

研究推進局全体総括を記述 (#74)
  src/soukatsu/kensui/01_zentai.tex
Labels: 総括, 研究推進局

Fix: #11/財務総括を執筆 (#76)
  src/soukatsu/kaikei/01_zaimu.tex
Labels: 総括
