Repository ritscc/soukai-2021-1, changes with the labels that .github/labeler.yml gives for each.
All labels: 方針, 総括, 全体, システム管理局, 渉外局, 研究推進局, 総務局

渉外局Webサイト総括
  src/soukatsu/syogai/04_web.tex
Labels: 総括, 渉外局

Fix:#11/表現を修正した
  src/soukatsu/kaikei/01_zaimu.tex
Labels: 総括

Fix:#36/表現を修正した
  src/houshin/2kai.tex
Labels: 方針

Reopen #23 シス管勉強会総括を執筆
  src/soukatsu/system/03_study.tex
Labels: 総括, システム管理局

コメントの指摘通りに修正
  src/soukatsu/soumu/03_souzi.tex
Labels: 総括, 総務局

修正したよ
  src/soukatsu/system/03_study.tex
Labels: 総括, システム管理局

部室→サークルルーム
  src/soukatsu/soumu/03_souzi.tex
Labels: 総括, 総務局

Reopen #59
  src/houshin/soumu/05_kainaigyozi.tex
Labels: 方針, 総務局

もっかい修正
  src/soukatsu/system/03_study.tex
Labels: 総括, システム管理局

Reopen #51 シス管勉強会方針を執筆
  src/houshin/system/03_study.tex
Labels: 方針, システム管理局

Reopen #51 シス管勉強会方針を執筆
  src/houshin/system/03_study.tex
Labels: 方針, システム管理局

Reopen #10 3回生総括を執筆
  src/soukatsu/3kai.tex
Labels: 総括

Fix 修正
  src/soukatsu/3kai.tex
Labels: 総括

Fix さらに修正
  src/soukatsu/3kai.tex
Labels: 総括

Fix Latexミスを修正
  src/soukatsu/3kai.tex
Labels: 総括

Fix 総括なのに方針になってたので修正
  src/soukatsu/3kai.tex
Labels: 総括

Reopen #37 3回生方針を執筆
  src/houshin/3kai.tex
Labels: 方針

Fix 文言修正
  src/houshin/3kai.tex
Labels: 方針

[docs] 渉外局の局会議方針を執筆
  src/houshin/syogai/02_kyokukaigi.tex
Labels: 方針, 渉外局

[docs] 渉外局の局会議総括を執筆
  src/soukatsu/syogai/02_kyokukaigi.tex
Labels: 総括, 渉外局

[docs] OBOG会総括を執筆
  src/soukatsu/zentai/07_obog.tex
Labels: 総括, 全体

[fix] unagiの精度低すぎわろた
  src/soukatsu/zentai/07_obog.tex
Labels: 総括, 全体

[fix] unagiさん、そんな繊細じゃないでしょ
  src/soukatsu/zentai/07_obog.tex
Labels: 総括, 全体

レビューの指摘点を修正
  src/soukatsu/zentai/06_ritumeihouse.tex
Labels: 総括, 全体

Twitter方針を執筆
  src/houshin/syogai/03_twitter.tex
Labels: 方針, 渉外局

2回生総括を変更
  src/soukatsu/2kai.tex
Labels: 総括

季節の時期を表す表現 を修正
  src/houshin/syogai/03_twitter.tex
Labels: 方針, 渉外局

総務局全体方針を執筆
  src/houshin/soumu/01_zentai.tex
Labels: 方針, 総務局

文言修正
  src/houshin/soumu/01_zentai.tex
Labels: 方針, 総務局

"等"->"など"
  src/houshin/soumu/01_zentai.tex
Labels: 方針, 総務局

総務局風紀方針を執筆
  src/houshin/soumu/02_huki.tex
Labels: 方針, 総務局

Twitter総括を執筆
  src/soukatsu/syogai/03_twitter.tex
Labels: 総括, 渉外局

総務局風紀方針を執筆
  src/houshin/soumu/02_huki.tex
Labels: 方針, 総務局

1回生総括を記述
  src/soukatsu/1kai.tex
Labels: 総括

総務局掃除方針を執筆 代理
  src/houshin/soumu/03_souzi.tex
Labels: 方針, 総務局

"ので"->"ため"
  src/houshin/soumu/03_souzi.tex
Labels: 方針, 総務局

総務局書記方針を執筆 代理
  src/houshin/soumu/04_syoki.tex
Labels: 方針, 総務局

渉外局アドカレ方針
  src/houshin/syogai/05_adcale.tex
Labels: 方針, 渉外局

総務局会内行事方針を執筆 代理
  src/houshin/soumu/05_kainaigyozi.tex
Labels: 方針, 総務局

総務局備品業務方針を執筆
  src/houshin/soumu/06_bihin.tex
Labels: 方針, 総務局

.github/labeler.yml:

方針:
  - any: ["src/houshin/**/*.tex"]
総括:
  - any: ["src/soukatsu/**/*.tex"]
全体:
  - any: ["src/**/zentai/*.tex"]
回生:
  - any: ["src/**/[1-4]kai.tex"]
システム管理局:
  - any: ["src/**/system/*.tex"]
渉外局:
  - any: ["src/**/syogai/*.tex"]
研究推進局:
  - any: ["src/**/kensui/*.tex"]
総務局:
  - any: ["src/**/soumu/*.tex"]
