Repository ritscc/soukai-2021-1, changes with the labels that .github/labeler.yml gives for each.
All labels: 方針, 総括, 全体, システム管理局, 渉外局, 研究推進局, 総務局

.github/labeler.yml:

方針:
  - any: ["src/houshin/**/*.tex"]
総括:
  - any: ["src/soukatsu/**/*.tex"]
全体:
  - any: ["src/**/zentai/*.tex"]
回生:
  - any: ["src/**/[1-4]kai.tex"]
システム管理局:
  - any: ["src/**/system/*.tex"]
渉外局:
  - any: ["src/**/syogai/*.tex"]
研究推進局:
  - any: ["src/**/kensui/*.tex"]
総務局:
  - any: ["src/**/soumu/*.tex"]

Fix #29 : 書記業務総括を執筆 (#124)
  src/soukatsu/soumu/04_syoki.tex
Labels: 総括, 総務局

Fix #30 : 会内行事総括を執筆 (#125)
  src/soukatsu/soumu/05_kainaigyozi.tex
Labels: 総括, 総務局

Fix #31 : 備品業務総括を執筆 (#126)
  src/soukatsu/soumu/06_bihin.tex
Labels: 総括, 総務局

#12_財政総括を執筆 (#127)
  src/soukatsu/kaikei/02_zaisei.tex
Labels: 総括

#2 運営総括を執筆 (#128)
  src/soukatsu/zentai/02_unei.tex
Labels: 総括, 全体

#33 運営方針を執筆 (#130)
  src/houshin/zentai/02_unei.tex
Labels: 方針, 全体

Fix #5 : プロジェクト活動総括 (#133)
  src/soukatsu/zentai/05_project.tex
Labels: 総括, 全体

作成 (#134)
  src/houshin/zentai/03_project.tex
Labels: 方針, 全体

全体新歓総括を執筆 (#135)
  src/soukatsu/zentai/03_shinkan.tex
Labels: 総括, 全体

渉外局アドカレ方針を執筆 (#121)
  src/houshin/syogai/05_adcale.tex
Labels: 方針, 渉外局

渉外局webサイト総括 (#98)
  src/soukatsu/syogai/04_web.tex
Labels: 総括, 渉外局

総括ファイルの修正
  src/soukatsu/kensui/01_zentai.tex
  src/soukatsu/kensui/02_project.tex
Labels: 総括, 研究推進局

総括ファイルの修正 (#138)
  src/soukatsu/kensui/01_zentai.tex
  src/soukatsu/kensui/02_project.tex
Labels: 総括, 研究推進局

Fix #109 : 本会規約改正に関する議案 (#131)
  src/tokugi/01_kiyaku.tex
Labels: none

Fix:#129/会費徴収に関する特別議案を執筆した (#132)
  src/tokugi/02_kaihi.tex
Labels: none

zenki.texを変更
  src/zenki.tex
Labels: none

zenki.texを変更 (#139)
  src/zenki.tex
Labels: none

総会中の指摘訂正
  src/soukatsu/system/04_server.tex
Labels: 総括, システム管理局

総会中の指摘訂正
  src/houshin/system/04_server.tex
Labels: 方針, システム管理局

総会中の指摘訂正
  src/soukatsu/system/04_server.tex
Labels: 総括, システム管理局

記述を修正
  src/soukatsu/soumu/05_kainaigyozi.tex
Labels: 総括, 総務局

a
  src/soukatsu/system/04_server.tex
Labels: 総括, システム管理局

Cent ->CentOS sokatsu
  src/soukatsu/system/04_server.tex
Labels: 総括, システム管理局

総務局掃除業務方針を修正
  src/houshin/soumu/03_souzi.tex
Labels: 方針, 総務局

総務局全体方針を修正
  src/houshin/soumu/01_zentai.tex
Labels: 方針, 総務局

Fix: #36/2回生方針を執筆
  src/houshin/2kai.tex
Labels: 方針

Fix: #36/2回生方針を修正
  src/houshin/2kai.tex
Labels: 方針

Fix: #36/Unicode Errorの修正
  src/houshin/2kai.tex
Labels: 方針

Fix: #36/2回生方針を修正
  src/houshin/2kai.tex
Labels: 方針

Fix:#36/表現を修正した
  src/houshin/2kai.tex
Labels: 方針

Fix:#36/軽微なミスを修正
  src/houshin/2kai.tex
Labels: 方針

Fix:#154/直しました
  src/houshin/kaikei/02_zaimu.tex
Labels: 方針

冬勉強会→春勉強会
  src/houshin/kensui/04_hackathon.tex
Labels: 方針, 研究推進局

冬期ハッカソン→春期ハッカソン
  src/houshin/kensui/04_hackathon.tex
Labels: 方針, 研究推進局

OB→OBOG
  src/houshin/kensui/04_hackathon.tex
Labels: 方針, 研究推進局

Fix#148 サーバーをサーバにしたよ
  src/soukatsu/system/03_study.tex
Labels: 総括, システム管理局

サーバーをサーバにしたよ
  src/soukatsu/system/03_study.tex
Labels: 総括, システム管理局

修正いろいろ
  src/houshin/3kai.tex
Labels: 方針

漢数字
  src/houshin/3kai.tex
Labels: 方針

enumerateをitemizeに
  src/soukatsu/3kai.tex
Labels: 総括
