Repository ritscc/soukai-2021-1, changes with the labels that .github/labeler.yml gives for each.
All labels: 方針, 総括, 全体, システム管理局, 渉外局, 研究推進局, 総務局

シス管全体総括を記述
  src/soukatsu/system/01_zentai.tex
Labels: 総括, システム管理局

渉外局アドカレ方針を執筆
  src/houshin/syogai/05_adcale.tex
Labels: 方針, 渉外局

内容が足りなかったので追加
  src/soukatsu/system/01_zentai.tex
Labels: 総括, システム管理局

渉外局アドカレ方針を執筆
  src/soukatsu/syogai/04_web.tex
Labels: 総括, 渉外局

渉外局アドカレ方針を執筆
  src/houshin/syogai/05_adcale.tex
Labels: 方針, 渉外局

unagi修正
  src/soukatsu/system/01_zentai.tex
Labels: 総括, システム管理局

渉外局アドカレ方針を執筆
  src/houshin/syogai/05_adcale.tex
Labels: 方針, 渉外局

渉外局アドカレ方針を執筆
  src/soukatsu/syogai/04_web.tex
Labels: 総括, 渉外局

渉外局アドカレ方針を執筆
  src/houshin/syogai/05_adcale.tex
Labels: 方針, 渉外局

渉外局アドカレ方針を執筆
  src/houshin/syogai/05_adcale.tex
Labels: 方針, 渉外局

渉外局アドカレ方針を執筆
  src/houshin/syogai/05_adcale.tex
Labels: 方針, 渉外局

更新
  src/houshin/syogai/05_adcale.tex
Labels: 方針, 渉外局

シス管全体方針を記述
  src/houshin/system/01_zentai.tex
Labels: 方針, システム管理局

unagi修正
  src/houshin/system/01_zentai.tex
Labels: 方針, システム管理局

規約改正に関する項目を追加
  src/zenki.tex
Labels: none

総務書記総括を記述
  src/soukatsu/soumu/04_syoki.tex
Labels: 総括, 総務局

会内行事総括を記述
  src/soukatsu/soumu/05_kainaigyozi.tex
Labels: 総括, 総務局

備品業務総括を記述
  src/soukatsu/soumu/06_bihin.tex
Labels: 総括, 総務局

Fix のでをために
  src/soukatsu/soumu/05_kainaigyozi.tex
Labels: 総括, 総務局

#12_財政総括を執筆
  src/soukatsu/kaikei/02_zaisei.tex
Labels: 総括

12_修正1
  src/soukatsu/kaikei/02_zaisei.tex
Labels: 総括

#2 運営総括を執筆
  src/soukatsu/zentai/02_unei.tex
Labels: 総括, 全体

unagi指摘の修正
  src/soukatsu/zentai/02_unei.tex
Labels: 総括, 全体

#33 運営方針を執筆
  src/houshin/zentai/02_unei.tex
Labels: 方針, 全体

unagiの指摘修正
  src/houshin/zentai/02_unei.tex
Labels: 方針, 全体

本会規約の改正に関する議案を執筆
  src/kiyaku/01_kiyaku.tex
Labels: none

フォルダ名をkiyaku->tokugiに変更
  src/tokugi/01_kiyaku.tex
Labels: none

日程を追記
  src/soukatsu/soumu/05_kainaigyozi.tex
Labels: 総括, 総務局

理由を追記
  src/soukatsu/soumu/04_syoki.tex
Labels: 総括, 総務局

理由を追記
  src/soukatsu/soumu/06_bihin.tex
Labels: 総括, 総務局

12_reveiw部分を修正1
  src/soukatsu/kaikei/02_zaisei.tex
Labels: 総括

日本語の修正「推奨する」「発表会中」
  src/houshin/kensui/02_project.tex
Labels: 方針, 研究推進局

「夏休みの間」→「夏期休暇中」
  src/houshin/kensui/03_LT.tex
Labels: 方針, 研究推進局

方針だけど既に行った部分なので「行う」→「行った」
  src/houshin/kensui/03_LT.tex
Labels: 方針, 研究推進局

unagiの怒られを修正
  src/tokugi/01_kiyaku.tex
Labels: none

夏期ハッカソン中心の内容である旨など
  src/soukatsu/kensui/04_hackathon.tex
Labels: 総括, 研究推進局

セクション追加，目的と概要の修正，上回生参加の部分の表現の修正
  src/houshin/kensui/04_hackathon.tex
Labels: 方針, 研究推進局

Update src/houshin/1kai.tex
  src/houshin/1kai.tex
Labels: 方針

Update src/soukatsu/system/02_kyokukaigi.tex
  src/soukatsu/system/02_kyokukaigi.tex
Labels: 総括, システム管理局

Update 02_kyokukaigi.tex
  src/houshin/system/02_kyokukaigi.tex
Labels: 方針, システム管理局

.github/labeler.yml:

方針:
  - any: ["src/houshin/**/*.tex"]
総括:
  - any: ["src/soukatsu/**/*.tex"]
全体:
  - any: ["src/**/zentai/*.tex"]
回生:
  - any: ["src/**/[1-4]kai.tex"]
システム管理局:
  - any: ["src/**/system/*.tex"]
渉外局:
  - any: ["src/**/syogai/*.tex"]
研究推進局:
  - any: ["src/**/kensui/*.tex"]
総務局:
  - any: ["src/**/soumu/*.tex"]
