Repository ritscc/soukai-2021-1, pull requests merged in 2021-09, with the labels that each got.

#63 サーバ方針#52
  src/houshin/system/04_server.tex
Labels: 方針, システム管理局

#64 サーバ総括#24
  src/soukatsu/system/04_server.tex
Labels: 総括, システム管理局

#65 Fix #41: src/houshin/kensui/01_zentai.tex
  src/houshin/kensui/01_zentai.tex
Labels: 方針, 研究推進局

#66 Fix #42: 作成
  src/houshin/kensui/02_project.tex
Labels: 方針, 研究推進局

#67 Fix #43: 作成
  src/houshin/kensui/03_LT.tex
Labels: 方針, 研究推進局

#68 2回生総括を変更
  src/soukatsu/2kai.tex
Labels: 総括, 回生

#69 Fix: #36/2回生方針を執筆
  src/houshin/2kai.tex
Labels: 方針, 回生

#70 Fix #26 : 総務総括書いたぁ
  src/soukatsu/soumu/01_zentai.tex
Labels: 総括, 総務局

#72 Fix #27: ブランチミスってたので直した
  src/soukatsu/soumu/02_huki.tex
Labels: 総括, 総務局

#73 Fix #28 : ブランチミスってたので直した
  src/soukatsu/soumu/03_souzi.tex
Labels: 総括, 総務局

#74 Fix #13 研究推進局全体総括を記述
  src/soukatsu/kensui/01_zentai.tex
Labels: 総括, 研究推進局

#76 Fix: #11/財務総括を執筆
  src/soukatsu/kaikei/01_zaimu.tex
Labels: 総括, 会計局

#75 Fixes #14 研究推進局プロジェクト活動総括を執筆
  src/soukatsu/kensui/01_zentai.tex
Labels: 総括, 研究推進局

#77 Fix:#38/会計局全体方針を執筆
  src/houshin/kaikei/01_zentai.tex
Labels: 方針, 会計局

#78 system/kyokukaigi
  src/houshin/system/02_kyokukaigi.tex
Labels: 方針, システム管理局

#79 soukatu/system/kyokukaigi
  src/soukatsu/system/02_kyokukaigi.tex
Labels: 総括, システム管理局

#80 houshin/1kai
  src/houshin/1kai.tex
Labels: 方針, 回生

#81 立家総括
  src/soukatsu/zentai/06_ritumeihouse.tex
Labels: 総括, 全体

#82 Fix:#39/会計局財務方針を執筆
  src/houshin/kaikei/02_zaimu.tex
Labels: 方針, 会計局

#83 Fix:#40/会計局財政方針を執筆
  src/houshin/kaikei/03_zaisei.tex
Labels: 方針, 会計局

#84 全体総括_Welcomeゼミ総括を執筆
  src/soukatsu/zentai/04_welcom.tex
Labels: 総括, 全体

#85 システム管理局引き継ぎ方針を執筆
  src/soukatsu/system/05_hikitsugi.tex
Labels: 総括, システム管理局

#86 システム管理局引き継ぎ方針を執筆
  src/houshin/system/05_hikitsugi.tex
Labels: 方針, システム管理局

#87 Fix #1 : 前期活動総括を執筆
  src/soukatsu/zentai/01_zentai.tex
Labels: 総括, 全体

#88 Fix #32 : 秋学期方針を執筆
  src/houshin/zentai/01_zentai.tex
Labels: 方針, 全体

#89 システム管理局新局員方針を執筆
  src/houshin/system/06_shinkyokuin.tex
Labels: 方針, システム管理局

#90 Fix #15 : LT総括を執筆
  src/soukatsu/kensui/03_LT.tex
Labels: 総括, 研究推進局

#91 作成
  src/soukatsu/kensui/04_hackathon.tex
Labels: 総括, 研究推進局

#93 作成
  src/houshin/kensui/04_hackathon.tex
Labels: 方針, 研究推進局

#95 渉外局全体方針を執筆
  src/houshin/syogai/01_zentai.tex
Labels: 方針, 渉外局

#96 渉外局全体総括
  src/soukatsu/syogai/01_zentai.tex
Labels: 総括, 渉外局

#97 渉外局Webサイト方針
  src/houshin/syogai/04_web.tex
Labels: 方針, 渉外局

#99 Reopen #23 シス管勉強会総括を執筆
  src/soukatsu/system/03_study.tex
Labels: 総括, システム管理局

#101 Reopen #51 シス管勉強会方針を執筆
  src/houshin/system/03_study.tex
Labels: 方針, システム管理局

#102 Reopen #10 3回生総括を執筆
  src/soukatsu/3kai.tex
Labels: 総括, 回生

#103 Reopen #37 3回生方針を執筆
  src/houshin/3kai.tex
Labels: 方針, 回生

#104 渉外局の局会議総括を執筆
  src/soukatsu/syogai/02_kyokukaigi.tex
Labels: 総括, 渉外局

#105 渉外局の局会議方針を執筆
  src/houshin/syogai/02_kyokukaigi.tex
Labels: 方針, 渉外局

#106 OBOG会総括を執筆
  src/soukatsu/zentai/07_obog.tex
Labels: 総括, 全体

#108 Fix #46 渉外局Twitter方針を執筆
  src/houshin/syogai/03_twitter.tex
Labels: 方針, 渉外局

#110 Fix #55 : 総務局全体方針を執筆
  src/houshin/soumu/01_zentai.tex
Labels: 方針, 総務局

#112 Fix #19 渉外局Twitter総括を執筆
  src/soukatsu/syogai/03_twitter.tex
Labels: 総括, 渉外局

#113 Fix #56 : 総務局風紀方針を執筆
  src/houshin/soumu/02_huki.tex
Labels: 方針, 総務局

#114 1回生総括を記述
  src/soukatsu/1kai.tex
Labels: 総括, 回生

#115 Fix #57 : 総務局掃除方針を執筆 代理
  src/houshin/soumu/03_souzi.tex
Labels: 方針, 総務局

#116 Fix #58 : 総務局書記方針を執筆 代理
  src/houshin/soumu/04_syoki.tex
Labels: 方針, 総務局

#118 Fix #59 : 総務局会内行事方針を執筆 代理
  src/houshin/soumu/05_kainaigyozi.tex
Labels: 方針, 総務局

#119 Fix #60 : 総務局備品業務方針を執筆
  src/houshin/soumu/06_bihin.tex
Labels: 方針, 総務局

#120 シス管全体総括を執筆
  src/soukatsu/system/01_zentai.tex
Labels: 総括, システム管理局

#122 シス管全体方針を記述
  src/houshin/system/01_zentai.tex
Labels: 方針, システム管理局

#124 Fix #29 : 書記業務総括を執筆
  src/soukatsu/soumu/04_syoki.tex
Labels: 総括, 総務局

#125 Fix #30 : 会内行事総括を執筆
  src/soukatsu/soumu/05_kainaigyozi.tex
Labels: 総括, 総務局

#126 Fix #31 : 備品業務総括を執筆
  src/soukatsu/soumu/06_bihin.tex
Labels: 総括, 総務局

#127 #12_財政総括を執筆
  src/soukatsu/kaikei/02_zaisei.tex
Labels: 総括

#128 #2 運営総括を執筆
  src/soukatsu/zentai/02_unei.tex
Labels: 総括, 全体

#130 #33 運営方針を執筆
  src/houshin/zentai/02_unei.tex
Labels: 方針, 全体

#133 Fix #5 : プロジェクト活動総括
  src/soukatsu/zentai/05_project.tex
Labels: 総括, 全体

#134 Fix #34: プロジェクト活動方針
  src/houshin/zentai/03_project.tex
Labels: 方針, 全体

#135 Fix #3 : 全体新歓総括を執筆
  src/soukatsu/zentai/03_shinkan.tex
Labels: 総括, 全体

#121 渉外局アドカレ方針を執筆
  src/houshin/syogai/05_adcale.tex
Labels: 方針, 渉外局

#98 渉外局webサイト総括
  src/soukatsu/syogai/04_web.tex
Labels: 総括, 渉外局

#138 研推総括ファイルの修正
  src/soukatsu/kensui/01_zentai.tex
  src/soukatsu/kensui/02_project.tex
Labels: 総括, 研究推進局
